:root {
  --main-color:#f37023;
  --sec-color:#e9e9e9;
}

* {
  margin: 0px;
  padding: 0px;
  -webkit-box-sizing: border-box;
  -o-box-sizing: border-box;
  box-sizing: border-box;
  list-style: none;
  font-family: "Open Sans", sans-serif;
  text-transform: capitalize;
  text-decoration: none;
  scroll-behavior: smooth;
}

.container {
  margin: auto;
  background-color: inherit;
}
@media (max-width: 575px) {
  .container {
    width: 100%;
    padding: 15px;
  }
}
@media (min-width: 576px) and (max-width: 767px) {
  .container {
    width: 540px;
  }
}
@media (min-width: 768px) and (max-width: 991px) {
  .container {
    width: 720px;
  }
}
@media (min-width: 992px) and (max-width: 1199px) {
  .container {
    width: 960px;
  }
}
@media (min-width: 1200px) {
  .container {
    width: 1140px;
  }
}

.section {
  padding: 50px 0px;
  background-color: inherit;
}

.title {
  font-size: 40px;
  font-weight: bold;
  color: var(--main-color);
  margin: 0px auto 50px;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  position: relative;
  background-color: inherit;
}
.title::after {
  content: "";
  width: 140px;
  height: 2px;
  background-color: var(--main-color);
  position: absolute;
  bottom: -30px;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
}
.title::before {
  content: "";
  width: 14px;
  height: 14px;
  border-radius: 50%;
  background-color: inherit;
  border: 2px solid var(--main-color);
  z-index: 3;
  position: absolute;
  bottom: -37px;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  background-color: inherit;
}

.glassy {
  background: linear-gradient(135deg, rgba(255, 255, 255, 0.1), rgba(255, 255, 255, 0));
  -webkit-backdrop-filter: blur(20px);
          backdrop-filter: blur(20px);
  padding: 20px 30px;
  border: 1px solid rgba(255, 255, 255, 0.18);
  -webkit-box-shadow: 0 8px 32px 0 rgba(255, 255, 255, 0.37);
          box-shadow: 0 8px 32px 0 rgba(255, 255, 255, 0.37);
  border-radius: 32px;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.setting-box {
  background-color: #fff;
  padding: 10px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  text-align: center;
  gap: 10px;
  position: fixed;
  left: -280px;
  top: 0;
  height: 100vh;
  z-index: 1000;
  font-size: 14px;
  font-weight: bold;
  width: 280px;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}
.setting-box.show {
  left: 0px;
}
.setting-box .gear {
  position: absolute;
  font-size: 20px;
  right: -30px;
  top: 100px;
  background-color: #fff;
  z-index: 1000;
  width: 30px;
  height: 30px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;
  cursor: pointer;
}

.colors {
  background-color: var(--sec-color);
  padding: 15px 20px;
}
.colors ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 10px;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-top: 15px;
}
.colors ul li {
  height: 30px;
  width: 15px;
  border-radius: 10px;
  cursor: pointer;
  opacity: 0.5;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}
.colors ul li[data-color="#f37023"] {
  background-color: #f37023;
}
.colors ul li[data-color="#0eb24e"] {
  background-color: #0eb24e;
}
.colors ul li[data-color="#0087d2"] {
  background-color: #0087d2;
}
.colors ul li[data-color="#00bcd4"] {
  background-color: #00bcd4;
}
.colors ul li[data-color="#ff414d"] {
  background-color: #ff414d;
}
.colors ul li:hover, .colors ul li.active {
  opacity: 1;
}

.randomize {
  background-color: var(--sec-color);
  padding: 15px 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: relative;
  gap: 20px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
.randomize .holder {
  position: relative;
  width: 40px;
  height: 20px;
  border-radius: 10px;
  background-color: var(--main-color);
  cursor: pointer;
}
.randomize .holder.off {
  opacity: 0.5;
}
.randomize .holder .ball {
  position: absolute;
  right: 4px;
  top: 50%;
  -webkit-transform: translateY(-50%);
  transform: translateY(-50%);
  width: 15px;
  height: 15px;
  border-radius: 50%;
  background-color: #fff;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}
.randomize .holder .ball.off {
  right: 20px;
}

.bullets-show {
  background-color: var(--sec-color);
  padding: 15px 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: relative;
  gap: 20px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
.bullets-show .holder {
  position: relative;
  width: 40px;
  height: 20px;
  border-radius: 10px;
  background-color: var(--main-color);
  cursor: pointer;
}
.bullets-show .holder.off {
  opacity: 0.5;
}
.bullets-show .holder .ball {
  position: absolute;
  right: 4px;
  top: 50%;
  -webkit-transform: translateY(-50%);
  transform: translateY(-50%);
  width: 15px;
  height: 15px;
  border-radius: 50%;
  background-color: #fff;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}
.bullets-show .holder .ball.off {
  right: 20px;
}

.reset {
  background-color: var(--main-color);
  padding: 10px 30px;
  color: #fff;
  border-radius: 10px;
  cursor: pointer;
}

.bullets {
  position: fixed;
  right: 20px;
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  z-index: 1000;
}
.bullets.off {
  display: none;
}
.bullets ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 20px;
}
.bullets ul li {
  border: 2px solid var(--main-color);
  width: 20px;
  height: 20px;
  z-index: 1000;
  border-radius: 50%;
  position: relative;
  cursor: pointer;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}
.bullets ul li::before {
  content: attr(data-link);
  position: absolute;
  left: -130px;
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  width: 100px;
  text-align: center;
  padding: 10px 0px;
  background-color: var(--main-color);
  border-radius: 5px;
  display: none;
  color: #fff;
}
.bullets ul li::after {
  content: "";
  position: absolute;
  left: -30px;
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  width: 0px;
  height: 0;
  border: 10px solid;
  border-color: transparent transparent transparent var(--main-color);
  display: none;
}
.bullets ul li:hover {
  background-color: var(--main-color);
}
.bullets ul li:hover::after {
  display: block;
}
.bullets ul li:hover::before {
  display: block;
}

body {
  overflow: overlay;
  color: black;
}

::-webkit-scrollbar {
  width: 10px;
  background-color: transparent;
}

::-webkit-scrollbar-thumb {
  border-radius: 20px;
  width: 10px;
  border: 60px solid var(--main-color);
}

.about-us .section .container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
@media (max-width: 991px) {
  .about-us .section .container {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}
.about-us .section .container .text-area {
  max-width: 50%;
}
@media (max-width: 991px) {
  .about-us .section .container .text-area {
    max-width: 90%;
  }
}
.about-us .section .container .text-area h3 {
  font-size: 40px;
  color: var(--main-color);
  margin-bottom: 15px;
}
.about-us .section .container .text-area p {
  line-height: 1.6;
}

.contact-us {
  background-image: url(/imgs/contact.png);
  background-size: cover;
  position: relative;
}
.contact-us .overlay {
  height: 100%;
  width: 100%;
  background-color: rgba(255, 255, 255, 0.42);
  position: absolute;
  left: 0;
  top: 0;
  z-index: 1;
}
.contact-us .section {
  z-index: 3;
  position: relative;
}
.contact-us .section .container {
  z-index: 333;
  position: relative;
}
.contact-us .section .container .title::before {
  background-color: white;
}
.contact-us .section .container form {
  position: relative;
  margin-top: 100px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 30px;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
@media (max-width: 767px) {
  .contact-us .section .container form {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    width: 90%;
    margin: auto;
  }
}
.contact-us .section .container form .left-area {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 10px;
}
@media (max-width: 575px) {
  .contact-us .section .container form .left-area {
    width: 100%;
  }
}
@media (min-width: 576px) and (max-width: 767px) {
  .contact-us .section .container form .left-area {
    width: 100%;
  }
}
.contact-us .section .container form .left-area input {
  padding: 10px;
  height: 45px;
  width: 400px;
  background-color: var(--sec-color);
  border: 1px solid var(--sec-color);
  outline: none;
  border-radius: 10px;
}
@media (max-width: 575px) {
  .contact-us .section .container form .left-area input {
    width: 100%;
  }
}
@media (min-width: 576px) and (max-width: 767px) {
  .contact-us .section .container form .left-area input {
    width: 100%;
  }
}
@media (min-width: 768px) and (max-width: 991px) {
  .contact-us .section .container form .left-area input {
    width: 300px;
  }
}
.contact-us .section .container form .left-area input:focus::-webkit-input-placeholder {
  color: transparent;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}
.contact-us .section .container form .left-area input:focus::-moz-placeholder {
  color: transparent;
  -moz-transition: 0.5s;
  transition: 0.5s;
}
.contact-us .section .container form .left-area input:focus:-ms-input-placeholder {
  color: transparent;
  -ms-transition: 0.5s;
  transition: 0.5s;
}
.contact-us .section .container form .left-area input:focus::-ms-input-placeholder {
  color: transparent;
  -ms-transition: 0.5s;
  transition: 0.5s;
}
.contact-us .section .container form .left-area input:focus::placeholder {
  color: transparent;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}
.contact-us .section .container form .right-area {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 10px;
}
@media (max-width: 575px) {
  .contact-us .section .container form .right-area {
    width: 100%;
  }
}
@media (min-width: 576px) and (max-width: 767px) {
  .contact-us .section .container form .right-area {
    width: 100%;
  }
}
.contact-us .section .container form .right-area textarea {
  width: 450px;
  height: 155px;
  background-color: transparent;
  background-color: var(--sec-color);
  border: 1px solid var(--sec-color);
  outline: none;
  padding: 10px;
  border-radius: 10px;
}
@media (max-width: 575px) {
  .contact-us .section .container form .right-area textarea {
    width: 100%;
  }
}
@media (min-width: 576px) and (max-width: 767px) {
  .contact-us .section .container form .right-area textarea {
    width: 100%;
  }
}
@media (min-width: 768px) and (max-width: 991px) {
  .contact-us .section .container form .right-area textarea {
    width: 300px;
  }
}
.contact-us .section .container form .right-area textarea:focus::-webkit-input-placeholder {
  color: transparent;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}
.contact-us .section .container form .right-area textarea:focus::-moz-placeholder {
  color: transparent;
  -moz-transition: 0.5s;
  transition: 0.5s;
}
.contact-us .section .container form .right-area textarea:focus:-ms-input-placeholder {
  color: transparent;
  -ms-transition: 0.5s;
  transition: 0.5s;
}
.contact-us .section .container form .right-area textarea:focus::-ms-input-placeholder {
  color: transparent;
  -ms-transition: 0.5s;
  transition: 0.5s;
}
.contact-us .section .container form .right-area textarea:focus::placeholder {
  color: transparent;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}
.contact-us .section .container form .right-area input[type=submit] {
  padding: 10px;
  height: 45px;
  background-color: var(--main-color);
  color: #fff;
  outline: none;
  border: none;
  border-radius: 10px;
  cursor: pointer;
}

.footer {
  width: 100%;
  margin: 100px 0 0px;
  padding: 20px;
  background-color: #000;
  color: #fff;
  font-size: 20px;
  text-align: center;
}
.footer span {
  font-style: italic;
  color: var(--main-color);
  font-weight: bold;
  font-size: 25px;
}

.landing {
  background-image: url(/imgs/01.jpg);
  height: 100vh;
  text-align: center;
  background-size: cover;
  position: relative;
  z-index: 1;
}
.landing .images {
  position: absolute;
  bottom: 50px;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 30px;
  z-index: 1000;
}
.landing .images li {
  width: 30px;
  height: 5px;
  border-radius: 5px;
  background-color: var(--main-color);
  opacity: 0.5;
  -webkit-transition: 0.5s;
  transition: 0.5s;
  cursor: pointer;
}
@media (max-width: 575px) {
  .landing .images li {
    width: 20px;
  }
}
.landing .images li.active, .landing .images li:hover {
  opacity: 1;
}
.landing .overlay {
  height: 100%;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.6);
  position: absolute;
  left: 0;
  top: 0;
  z-index: 1;
}
.landing .intro-text {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  width: 100%;
  z-index: 3;
}
@media (max-width: 991px) {
  .landing .intro-text {
    width: 80%;
  }
}
.landing .intro-text h3 {
  font-size: 40px;
  margin-bottom: 10px;
  width: 100%;
  color: #fff;
}
@media (max-width: 575px) {
  .landing .intro-text h3 {
    font-size: 30px;
  }
}
.landing .intro-text h3 span {
  color: var(--main-color);
}
.landing .intro-text p {
  color: #fff;
  line-height: 1.6;
}
@media (max-width: 575px) {
  .landing .intro-text p {
    font-size: 14px;
  }
}

.nav {
  z-index: 999;
  position: relative;
  color: #fff;
}
.nav .container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding-top: 20px;
  padding-bottom: 20px;
  z-index: 999;
  position: relative;
}
.nav .container .links {
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 100%;
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
@media (max-width: 767px) {
  .nav .container .links {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    opacity: 0;
    height: -webkit-fit-content;
    height: -moz-fit-content;
    height: fit-content;
    position: absolute;
    top: 80px;
    left: 50%;
    -webkit-transform: translateX(-50%);
            transform: translateX(-50%);
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    gap: 15px;
    background: linear-gradient(135deg, rgba(255, 255, 255, 0.1), rgba(255, 255, 255, 0));
    -webkit-backdrop-filter: blur(20px);
            backdrop-filter: blur(20px);
    padding: 20px 30px;
    border: 1px solid rgba(255, 255, 255, 0.18);
    -webkit-box-shadow: 0 8px 32px 0 rgba(255, 255, 255, 0.37);
            box-shadow: 0 8px 32px 0 rgba(255, 255, 255, 0.37);
    border-radius: 32px;
    -webkit-transition: 0.5s;
    transition: 0.5s;
    width: 90%;
  }
  .nav .container .links.show {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    opacity: 1;
  }
}
.nav .container .logo {
  width: 70px;
  cursor: pointer;
  position: absolute;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  top: 15px;
}
@media (max-width: 767px) {
  .nav .container .logo {
    position: relative;
    left: 0;
    top: 0%;
    -webkit-transform: translate(0);
            transform: translate(0);
    -webkit-box-ordinal-group: 0;
        -ms-flex-order: -1;
            order: -1;
  }
}
.nav .container .logo svg {
  color: #fff;
  font-size: 60px;
}
@media (max-width: 767px) {
  .nav .container .logo svg {
    font-size: 40px;
  }
}
.nav .container .logo svg:hover {
  color: var(--main-color);
  -webkit-transition: 0.5s;
  transition: 0.5s;
}
.nav .container .toggle {
  display: none;
  width: 70px;
  cursor: pointer;
  position: absolute;
  right: 15px;
}
@media (max-width: 767px) {
  .nav .container .toggle {
    display: block;
  }
  .nav .container .toggle:hover ~ .links {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    opacity: 1;
  }
  .nav .container .toggle:hover ~ .links ul {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    width: 100%;
  }
}
.nav .container .toggle svg {
  color: #fff;
  font-size: 24px;
}
.nav .container .toggle svg:hover {
  color: var(--main-color);
  -webkit-transition: 0.5s;
  transition: 0.5s;
}
.nav .container ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 15px;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
@media (min-width: 768px) {
  .nav .container ul {
    background: linear-gradient(135deg, rgba(255, 255, 255, 0.1), rgba(255, 255, 255, 0));
    -webkit-backdrop-filter: blur(20px);
            backdrop-filter: blur(20px);
    padding: 20px 30px;
    border: 1px solid rgba(255, 255, 255, 0.18);
    -webkit-box-shadow: 0 8px 32px 0 rgba(255, 255, 255, 0.37);
            box-shadow: 0 8px 32px 0 rgba(255, 255, 255, 0.37);
    border-radius: 32px;
  }
}
@media (max-width: 767px) {
  .nav .container ul {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}
.nav .container ul a {
  color: #fff;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}
.nav .container ul a:hover {
  color: var(--main-color);
}

.our-gallery {
  background-color: #fff;
  position: relative;
}
.our-gallery .overlay {
  height: 100vh;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.831372549);
  position: fixed;
  left: 0;
  top: 0;
  display: none;
  z-index: 10;
}
.our-gallery .overlay .start {
  position: fixed;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  width: 0px;
  height: 0px;
  border-radius: 20px;
  -webkit-transition: 0.3s;
  transition: 0.3s;
  max-width: 90%;
}
.our-gallery .overlay .finished {
  width: 800px;
  height: 450px;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}
.our-gallery .overlay .deleted {
  width: 1px;
  height: 1px;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}
.our-gallery .overlay span {
  position: fixed;
  width: 0px;
  height: 0px;
  top: 10px;
  right: -40px;
  background-color: var(--main-color);
  border-radius: 50%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: white;
  font-weight: bold;
  cursor: pointer;
  width: 30px;
  height: 30px;
  opacity: 0;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}
.our-gallery .overlay .span-fade-in {
  opacity: 1;
  -webkit-transition: 2s;
  transition: 2s;
}
@media (max-width: 767px) {
  .our-gallery .overlay .span-fade-in {
    display: none;
  }
}
.our-gallery .section .container .cards {
  display: -ms-grid;
  display: grid;
  gap: 30px;
  grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
  margin-top: 100px;
}
.our-gallery .section .container .card {
  background-color: var(--sec-color);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-shadow: 1px 1px 8px 1px #a9a3a3;
          box-shadow: 1px 1px 8px 1px #a9a3a3;
  border-radius: 5px;
  -webkit-transition: 0.3s;
  transition: 0.3s;
  overflow: hidden;
}
.our-gallery .section .container .card:hover {
  scale: 1.2;
}
@media (max-width: 575px) {
  .our-gallery .section .container .card:hover {
    scale: 1;
  }
}
.our-gallery .section .container .card img {
  max-width: 100%;
  cursor: pointer;
}

.our-skills {
  background-color: var(--sec-color);
  text-align: center;
}
.our-skills .skills {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 20px;
  margin-top: 100px;
}
.our-skills .skills .skill {
  background-color: #fff;
  padding: 20px 30px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border-radius: 10px;
}
.our-skills .skills .skill p {
  font-weight: bold;
}
.our-skills .skills .skill .parent-span {
  background-color: var(--sec-color);
  height: 5px;
  width: 90%;
  border-radius: 10px;
  position: relative;
  overflow: hidden;
}
@media (max-width: 575px) {
  .our-skills .skills .skill .parent-span {
    width: 70%;
  }
}
@media (min-width: 576px) and (max-width: 767px) {
  .our-skills .skills .skill .parent-span {
    width: 75%;
  }
}
@media (min-width: 768px) and (max-width: 991px) {
  .our-skills .skills .skill .parent-span {
    width: 80%;
    height: 10px;
  }
}
@media (min-width: 992px) and (max-width: 1199px) {
  .our-skills .skills .skill .parent-span {
    width: 85%;
    height: 15px;
  }
}
@media (min-width: 1200px) {
  .our-skills .skills .skill .parent-span {
    height: 20px;
  }
}
.our-skills .skills .skill .parent-span .progress {
  width: 0px;
  background-color: var(--main-color);
  height: 100%;
  position: absolute;
  left: 0;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}
.our-skills .skills .skill .parent-span::after {
  content: "";
  height: 100%;
  width: 0;
  background-color: var(--main-color);
  position: absolute;
  left: 0;
  top: 0;
}

.our-features {
  background-color: #fff;
}
.our-features .section .container .feats {
  margin-top: 100px;
  display: -ms-grid;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
  gap: 50px;
}
.our-features .section .container .feats .feat {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 30px;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
}
.our-features .section .container .feats .feat img {
  width: 100px;
  max-width: 100%;
}
.our-features .section .container .feats .feat .head {
  font-weight: bold;
  position: relative;
}
.our-features .section .container .feats .feat .head::after {
  content: "";
  position: absolute;
  bottom: -20px;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  height: 3px;
  background-color: var(--main-color);
  width: 70%;
}
.our-features .section .container .feats .feat p:not(.head) {
  margin-top: 30px;
  color: rgb(159, 159, 159);
}

.testimonials {
  position: relative;
}
.testimonials .left-area,
.testimonials .right-area {
  background-color: var(--main-color);
  height: 100%;
  width: 50%;
  display: inline-block;
  position: absolute;
  top: 0;
  z-index: -1;
}
.testimonials .left-area {
  left: 0;
}
.testimonials .right-area {
  right: 0;
  background-color: #000;
}
.testimonials .section .container .head {
  font-size: 40px;
  font-weight: bold;
  color: #fff;
  margin-bottom: 50px;
}
.testimonials .section .container .profiles {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 30px;
}
@media (max-width: 575px) {
  .testimonials .section .container .profiles {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}
.testimonials .section .container .profiles .profile {
  background-color: #fff;
  border-radius: 10px;
  padding: 20px;
}
.testimonials .section .container .profiles .profile p:first-of-type {
  color: #777;
  margin-bottom: 30px;
  font-style: italic;
  line-height: 1.5;
}
.testimonials .section .container .profiles .profile p:nth-of-type(2) {
  font-weight: bold;
  margin-bottom: 20px;
}
.testimonials .section .container .profiles .profile p:last-of-type {
  color: #777;
}

.timeline {
  background-color: var(--sec-color);
}
.timeline .section .container {
  position: relative;
}
.timeline .section .container .date-2018, .timeline .section .container .date-2016 {
  position: absolute;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  padding: 5px;
  border-radius: 5px;
  background-color: var(--main-color);
  color: #fff;
  top: -70px;
}
.timeline .section .container::before {
  content: "";
  position: absolute;
  top: 150px;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  background-color: var(--main-color);
  width: 1px;
  height: 90%;
}
.timeline .section .container .cards {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 20px;
  margin-top: 200px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: relative;
}
.timeline .section .container .cards:last-of-type {
  margin-top: 100px;
}
@media (min-width: 1200px) {
  .timeline .section .container .cards:last-of-type {
    margin-top: 200px;
  }
}
.timeline .section .container .cards .card {
  background-color: #fff;
  padding: 20px;
  border-radius: 10px;
  position: relative;
  width: 530px;
  max-width: 100%;
}
@media (min-width: 1200px) {
  .timeline .section .container .cards .card::after {
    content: "";
    width: 0px;
    height: 0px;
    border: 10px solid;
    top: 20px;
    position: absolute;
  }
  .timeline .section .container .cards .card::before {
    content: "";
    width: 15px;
    height: 15px;
    border-radius: 50%;
    border: 2px solid var(--main-color);
    position: absolute;
    top: 20px;
    background-color: #fff;
  }
  .timeline .section .container .cards .card.left {
    -ms-flex-item-align: start;
        align-self: flex-start;
  }
  .timeline .section .container .cards .card.left::after {
    border-color: transparent transparent transparent #fff;
    right: -20px;
  }
  .timeline .section .container .cards .card.left::before {
    right: -50px;
  }
  .timeline .section .container .cards .card.right {
    -ms-flex-item-align: end;
        align-self: flex-end;
  }
  .timeline .section .container .cards .card.right::after {
    border-color: transparent #fff transparent transparent;
    left: -20px;
  }
  .timeline .section .container .cards .card.right::before {
    left: -50px;
  }
}
.timeline .section .container .cards .card h3 {
  margin-bottom: 20px;
  color: var(--main-color);
}
.timeline .section .container .cards .card p {
  color: rgb(159, 159, 159);
  line-height: 1.5;
}
/*# sourceMappingURL=Main.css.map */